/* App.css */
body {
  background-color: #e9ecef;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.upload-status {
  margin-top: 20px;
  color: #495057;
}

.progress-container {
  background-color: #dfe3e6;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #28a745;
  transition: width 0.5s ease;
}

.upload-button {
  margin-top: 20px; /* Adjust this value to increase or decrease the space */
  padding: 10px 20px; /* Optional: Add some padding for a better look */
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Increase font size */
}

.upload-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

@media (max-width: 600px) {
  .App {
      padding: 15px;
  }

  h1 {
      font-size: 2rem;
  }

  button {
      font-size: 14px;
  }
}